  <small class="checkup-item-header">Las fuentes consultadas </smaill>

<div class="row">

    <div class="col-md-4">
        <div ng-switch on="isSourcesTypeEmpty(1)">
            <div ng-switch-when='false'>
                <h2>Original <span class="glyphicon glyphicon-ok ok"></span></h2>
                <div class="text-source text-overflow" ng-repeat="original in getSourcesByType(1)">
                  - {{original.what|truncate:100}} 
                </div>
            </div>

            <div ng-switch-when='true'>
                <h2>Original <span class="glyphicon glyphicon-remove red"></span></h2>
                <div class="text-source">
                    Sin fuente
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div ng-switch on="isSourcesTypeEmpty(2)">
            <div ng-switch-when='false'>
                <h2>Oficial <span class="glyphicon glyphicon-ok ok"></span></h2>
                <div class="text-source" ng-repeat="oficial in getSourcesByType(2)">
                   - {{oficial.what|truncate:100}} 
                </div>
            </div>

            <div ng-switch-when='true'>
                <h2>Oficial <span class="glyphicon glyphicon-remove red"></span></h2>
                <div class="text-source">
                    Sin fuente
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div ng-switch on="isSourcesTypeEmpty(3)">
            <div ng-switch-when='false'>
                <h2>Alternativa <span class="glyphicon glyphicon-ok ok"></span></h2>
                <div class="text-source" ng-repeat="alternativa in getSourcesByType(3)">
                   - <span ng-show="alternativa.what != ''"> {{alternativa.what|truncate:120}} </span>
                </div>
            </div>

            <div ng-switch-when='true'>
                <h2>Alternativa <span class="glyphicon glyphicon-remove red"></span></h2>
                <div class="text-source">
                    Sin fuente
                </div>
            </div>

        </div>
    </div>
</div>
