            <div class="container header">
                <div class="session-bar row">
                    <div class="brand col-md-9">
                        chequeador
                    </div>
                    <div class="login col-md-3 text-left">
                        <ul class="social-menu">
                            <li>Login</li>
                            <li><a href="#/facebook">f</a></li>
                            <li><a href="#/twitter">t</a></li>
                            <li><a href="#/mail">m</a></li>
                        </ul>
                    </div>
                </div>
            </div>

            
            <div class="status-bar row">
                <div class="col-md-9">
                    <div>
                        Iniciar un Checqueo
                    </div> 
                </div>
                <div class="col-md-3 text-left">
                    <span id="help-action"> Ayuda </span>
                </div>
            </div>


