        <div class="container">
            <ng-include src="site/wrappers/header.html"/>
            <div class="main-content">

                <div class="col-sm-9">
                    <div ng-view></div>
                </div>
                
                <div id="sidebar-wrapper" class="col-sm-3">
                    <div class="sidebar-module sidebar-module-inset">
                        <p>
                            El Chequeador es una herramienta participativa para realizar chequeos en forma colectiva desde cualquier plataforma gestionada de forma colectiva
                        </p>
                    </div>
                </div>

            </div>

        </div>



        <ng-include src="site/wrappers/footer.html"/>
