<div class="login">
      
    <div class="status-bar row">
        <div class="col-md-9 status-action">
               Ingresar 
        </div>
        <div class="col-md-3 text-left help-action">
        </div>
    </div>

    <div class="container-fluid" text-center">
        <div class="row text-center">
            <form class="form-signin" data-ember-action="2">

                <h5>Para continuar puedes ingresar con tu red social favorita</h5>
                <br/><br/>
                
                <p>

                <a href="/auth/facebook?url=/#/{{back_url}}">
                    <span class="fa-stack fa-3x">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                    </span>
                </a>
                <a href="/auth/twitter?url=/#/{{back_url}}">
                    <span style="colort: #000" class="fa-stack fa-3x">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                    </span>
                </a>
                </p>


                <!--small class="text-muted">O entrar de forma tradicional</small>
                <br/><br/>
                
                <input id="ember360" class="ember-view ember-text-field form-control login-input" placeholder="Email Address" type="text">
                <input id="ember361" class="ember-view ember-text-field form-control login-input-pass" placeholder="Password" type="password">

                <script id="metamorph-22-start" type="text/x-placeholder"></script>
                <script id="metamorph-22-end" type="text/x-placeholder"></script>

                <button class="btn btn-lg btn-primary btn-block btn-center" type="submit" data-bindattr-3="3">Entrar</button>
                <br/>
                <small class="create-account text-muted">No tiene cuenta? <button id="ember363" class="ember-view btn btn-sm btn-default"> Registarse </button> </small-->
            </form>
        </div>
    </div>
